<div *ngIf="articleLink.length > 0 else noItem" >
    <div *ngFor="let link of articleLink" class="pad-bottom-10">
      <div class="container">
        <div class="item item1">
          <div class="">
            <div class="value">
              <h1>{{ link.votes }}</h1>
            </div>
            <div>
              Points
            </div>
          </div>
        </div>
        <div class="item item2">
          <div class="">
            <a class="" href="{{ link.link }}">
              {{ link.title }} ({{link.link}})
            </a>
            <ul class="nav container">
              <li class="nav-item" >
                <a class="nav-link" (click)="voteUp(link)"><i class="fas fa-long-arrow-alt-up"></i> upvote</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="voteDown(link)"> <i class="fas fa-long-arrow-alt-down"></i> downvote</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noItem>
    <div class="container">
      <h1>No Link to Show!</h1>
    </div>
  </ng-template>
